/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flx {
    display: flex;
}

.container > div {
    border: 2px dashed black;
}

/* Header */

header {
    background: #ADD8E6;
    padding: 20px;
}

nav div {
    flex-grow: 1;
    padding: 12px;
    background: #DAA520;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.links {
    flex-grow: 3;
    text-align: center;
}

.login {
    text-align: right;
}

/* Main */

section {
  padding: 50px 0;
}

.odd-section {
    background: #D3D3D3;
}

section:first-child {
    background: #00008B;
    border-bottom: 5px solid #ADD8E6;
}

.first-sec {
    height: 400px;
    width: 80%;
    margin:0 auto;
    background: #EE82EE;
}

.azure-bg {
    background: #1E90FF;
    height: 500px;
    flex-grow: 6;
}

.pink-bg {
    background: #FFC0CB;
    height: 500px;
    flex-grow: 4;
}
