/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flx {
    display: flex;
}

.container > div {
    border: 2px dashed black;
}

/* Header */

header {
    background: #ADD8E6;
    padding: 20px;
    font-size: 20px;
}

nav div {
    flex-grow: 1;
    padding: 10px;
    background: #DAA520;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: black;
    padding: 5px 3px;
}

.links {
    flex-grow: 3;
    text-align: center;
}

.login {
    text-align: right;
}

/* Main */

section {
  padding: 50px 0;
}

.odd-section {
    background: #D3D3D3;
}

section:first-child {
    background: #00008B;
    border-bottom: 5px solid #ADD8E6;
}

.first-sec {
    height: 400px;
    width: 80%;
    margin:0 auto;
    background: #EE82EE;
}

.azure-bg {
    background: #1E90FF;
    height: 500px;
    flex-grow: 6;
}

.pink-bg {
    background: #FFC0CB;
    height: 500px;
    flex-grow: 4;
}

.green-bg {
    background: #228B22;
    height: 900px;
}

section:last-of-type {
    padding-top: 10px;
    background: #23272A;
    border-bottom: 2px solid white;
}

.salmon-bg {
    background: #F08080;
    height: 570px;
    flex-grow: 3;
}

.turquoise-bg {
    background: #20B2AA;
    height: 570px;
    flex-grow: 7;
}

.flex-contact {
    border: 2px dashed white;
    flex-grow: 1;
}

/* Footer */

footer {
    background: #23272A;
    padding-top: 25px;
    border-bottom: 1px solid white;
}

.foot {
    height: 80px;
    background: #7FFFD4;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    background: #FFB6C1;
    padding: 5px 10px;
    font-size: 20px;
}
